.reservationsTable {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 5% 20%;
  overflow-x: auto;
}

.tableHead {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.tableHead th {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.tableBody button {
  border-radius: 20px;
  text-transform: none;
  background-color: #e7394a;
}

@media (max-width: 600px) {
  .reservationsTable {
    margin: 1%;
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .reservationsTable {
    margin: 1%;
    width: 100%;
  }
}
